

.inbox{
    height: 50px;
    width: 120px;
    border-color: #ff0000;
    background-color: #dc143c;
    border-radius: 5px;
    margin: auto;
    text-align: center;   
}
.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}




/*EJL---START ALL OVER!---*/

div{
    height: 50px;
    width: 120px;
    border-color: #ff0000;
    background-color: #dc143c;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ff6347;
    font-family: Garamond, serif;
}

.nav a{
    color: #2f4f4f;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 12px;
    text-transfor: uppercase;
}

.nav li{
    display: inline;
}

p{
    color: #ff0000;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;  
