
/* Basic styling */

.inbox li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}


.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-inbox {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

/*EJL---START ALL OVER!---*/

div{
    height: 50px;
    width: 120px;
    border-color: #ff0000;
    background-color: #dc143c;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ff6347;
    font-family: Garamond, serif;
}

.nav a{
    color: #2f4f4f;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 12px;
    text-transfor: uppercase;
}

.nav li{
    display: inline;
}

p{
    color: #ff0000;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;  
